h1,h2,h3,h4,h5,h6 {font-family: "Playfair Display"}
										/*Content page*/

.all{
	 font-family: "Times New Roman", Georgia, Serif ;  width:100%
}
										/*header*/
header{
	
}
													/*navbar*/
nav{
	position:fixed; top:0; left:0; width:100%; background-color:white; z-index:1; box-shadow:3px 2px  solid gray;
}

.wings a{
	float:left; text-decoration:none; color:black; letter-spacing:5px; margin:15px; padding:5px
}
.right{float:right}
.wings a:hover{background-color:lightgray}
.theEnd p{
	margin:-75px 0 0px 40px; font-size:30px; letter-spacing:6px; color:grey
}
section{display:flex; margin:100px 0; width:1000px}
.picture{width:60%}
.picture img{
	 opacity:.7; margin:15px; border-radius:1%; width:100%
}
.paragraph{margin:0 30px; line-height:26px; width:30%}
.paragraph h1, h5, .title{
	text-align:center; letter-spacing:5px; 
}
.paragraph h1, .title{font-size:35px; }
.paragraph h5{font-size:18px}
.paragraph span{background-color:lightgrey;padding:1px 10px}
hr{color:lightgray; width:1000px; margin:-50px 0}
.allContent, .address{margin:0 15px}
.pictureRight img{
	width:83%; opacity:.8;margin:50px  0 0 60px; height:90%; border-radius:1%
}
.list h4{
	font-size:15px; letter-spacing:5px; line-height:12px
}
.list p {
	font-size:12px; color:gray
}
.address h1{
	letter-spacing:5px; font-size:35px;margin:0px 0 50px 0 }
.address p{font-size:14px;margin:20px 0 0 0}
p.st{font-size:18px; color:cadetblue}
												/*form..input*/
form input{ 
	display:block; width:92%; padding:20px; margin:20px;border:none; border-bottom:1px solid gray ; box-sizing:border-box
}
button{
	margin:20px; padding:5px 15px; border:none; cursor: pointer; font-size:15px
}
button:hover{background-color:lightgray;}
footer{
	padding:32px; background-color:lightgray;  text-align:center; width:100%; 
}
footer p a{color:black}
footer p a:hover{color:green}
                         /*media quary */
@media(max-width:420px) {
   
   .wings a{
        font-size:12px; margin:5px 15px !important ; padding:3px; letter-spacing:4px; overflow:hidden
    }
    .bigPicture img{
        width:400px !important; height:250px !important
    }
    .theEnd p{font-size:20px; margin:-35px 0 0px 20px }
    section{display:block; margin:50px 0px 100px; width:325px !important}
    .picture, .paragraph{width:50% !important;}
    .paragraph{ margin:10px}
    .picture img{height:20px; width:50px; margin:2px !important}
    .paragraph h1 {font-size:30px; line-height:40px}

    hr{margin-bottom:50px; width:300px !important}
    .list p{font-size:8px}
    .list h4{font-size:10px; letter-spacing:3px;}
    .list{margin:-10px}
    .pictureRight img{width:75px;margin:30px  0 0 0px; height:500px !important}
form input{ 
display:block; width:28%; padding:20px; margin:20px; box-sizing:border-box
	}
	
}
@media(max-width:767px) {
.wings a{
        font-size:12px; margin:5px 14px; padding:3px; letter-spacing:5px;
    }
 .bigPicture img{width:751px; height:400px}
.theEnd p{font-size:20px; margin:-35px 0 0px 20px }
    section{ margin:50px 0px 100px; width:750px}
 .picture, .paragraph{width:80%;}
.paragraph{ margin:10px}
    .picture img{height:700px; width:375px; margin:2px !important}
    .paragraph h1 {font-size:30px; line-height:40px}
    .title{font-size:20px; margin:-20px 0 0 -100px !important}
    hr{margin-bottom:50px; width:800px}
    .list p{font-size:15px}
    .list h4{font-size:16px; letter-spacing:3px;}
    .list{margin:25px 0}
    .pictureRight img{width:375px;margin:30px  0 0 0px; height:600px}
		footer{width:10%}
  }
@media(min-width:768px) {
    .wings a{
        font-size:14px; margin:7px 18px; padding:4px; letter-spacing:7px;
    }
    .bigPicture img{width:974px; height:450px}
    .theEnd p{font-size:25px; margin:-35px 0 0px 20px }
    section{ margin:50px 0px 100px; width:950px}
    .picture, .paragraph{width:50%;}
    .paragraph{ margin:10px}
    .picture img{height:500px; width:450px; margin:2px !important}
    .paragraph h1 {font-size:30px; line-height:40px}
    .title{font-size:20px; margin:-10px 0 0 -150px !important}
    hr{margin:50px 0; width:900px}
    .list p{font-size:15px}
    .list h4{font-size:16px; letter-spacing:3px;}
    .list{margin:-5px}
    .pictureRight img{width:450px;margin:20px  0 0 0px; height:650px}
  }
@media(min-width:992px) {
	
    .wings a{
        font-size:15px; margin:8px 20px; padding:5px; letter-spacing:8px;
    }
    .bigPicture img{width:100%; height:500px ;}
  .theEnd p{font-size:30px; margin:-70px 0 0px 25px }
    section{margin:75px 5px 0px ; width:1000px}
    .picture{width:50%;}
    .paragraph{float:right; margin:10px 20px 5px 0px; width:40%}
    .picture img{height:600px; width:500px; margin:2px !important}
    .paragraph h1 {font-size:30px; line-height:40px}
    .title{font-size:20px; margin:-10px 0 0 -100px !important}
    hr{margin:50px 0; width:1000px}
    .list p{font-size:17px}
    .list h4{font-size:18px; letter-spacing:3px;}
    .list{margin:10px}
	.pictureRight{
		width:50%
	}
    .pictureRight img{width:100%; height:800px; margin-top:10px}
 
  }
footer{width:900px}                  
